:root {
    --primary: #ffe0e1;
    --accent: blue;
    --code-background: #282C34;
  }

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

#root {
    display: flex;
    flex: 1;
    flex-direction: column;
}

html, body {
    margin: 0px;
    width: 100%;
    height: auto;
    font-family: 'Nunito Sans';
}

main {
    width: auto;
    height: auto;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    display: flex;
    flex: 1;
    height: 56px;
    background-color: var(--primary);
}

main {
    display: flex;
    width: 100%;
    height: 100%;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 76px; 
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    padding: 24px 32px 32px 32px;
    min-width: 24ch;
}

section {
    margin: 0px;
}

pre {
    margin: 16px;
    padding: 16px;
    color: white;
    background-color: var(--code-background);
    border-radius: 12px;
    max-width: 80ch;
}

code {
    white-space: pre-wrap;
}

textarea {
    border: transparent;
    background-color: var(--primary);
    resize: none;
    border-radius: 8px;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

a {
    font-family: 'Nunito Sans';
    cursor: pointer;
    transition: .2s 0s ease
}

a:hover {
    color: hotpink
}

h1 {
    font-size: 36px;
    margin: 16px;
}

h2 {
    font-size: 30px;
    margin: 16px;
}

h3 {
    font-size: 24px;
    margin: 16px;
}

h4 {
    font-size: 18px;
    margin: 16px;
}

h5 {
    font-size: 12px;
    margin: 16px;
}

h6 {
    font-size: 6px;
    margin: 16px;
}

p {
    margin: 16px;
    line-height: 1.6rem
}

/*
  56 bytes to make any website beautiful.
*/
#main-content {
    max-width: 70ch;
    padding: 1.5rem;
    margin: auto;
}

#main-content-editor {
    max-width: 70ch;
    padding: 1.5rem;
    margin: auto;
}

.toc {

}

.toc-category {
    display: flex;
    flex-direction: column;
}

.toc-category-item {
    display: flex;
    flex: 1;
    flex-direction: row;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.toc-category-item:hover {
    color: var(--accent)
}

.toc-category-title {
    display: flex;
    flex: 1;
    margin: 8px;
}

.toc-category-content-item {
    display: flex;
    font-size: 14px;
    cursor: pointer;
    margin: 4px 4px 4px 24px;
    transition: all 0.2s ease-in;
}

.toc-category-content-item:hover {
    color: var(--accent)
}

.page-content {

}

.page-content-header {
    padding: 4px;
    font-size: 13px;
    color: gray;
    margin: 4px;
}

.nav-divider {
    position: sticky;
    top: 104px;
    height: 100px;
    margin-top: 32px;
    background-color: lightgrey;
    width: 1px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav {
        display: none
    }

    .nav-divider {
        display: none;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    nav.page-content {
        display: none
    }

    .nav-divider {
        display: none;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav.page-content {
        display: none
    }

    .nav-divider {
        display: none;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav.page-content {
        display: block
    }

    .nav-divider {
        display: block;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    nav.page-content {
        display: block
    }

    .nav-divider {
        display: block;
    }
}
