@font-face {
    font-family: 'ubuntu-mono';
    src: url(./assets/ubuntu-mono-regular.ttf);
}

.flex-row {
    display: flex;
    flex: 0 0 auto;
}

.items-center {
    align-items: center;
}

.pt-1 {
    padding-top: 0.5rem;
}

.console {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: black;
    width: 380px;
    height: 400px;
    font-family: 'Consolas',monospace !important;
    z-index: 1000;
    padding: 0rem 0.5rem 0rem 1rem;
    margin-right: 16px;
}

.console-stream-container {
    overflow: aguto;
    height: 100%;
}

.console-stream {
    font-family: 'ubuntu-mono','Consolas',monospace !important;
    color: white;
    white-space: pre-wrap;
}

.console-stream-container::-webkit-scrollbar {
    width: 4px;
}

.console-stream-container::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.1);
} 

.console-stream-container::-webkit-scrollbar-thumb:hover {
      background: rgba(255,255,255,.2);
}

.console-input-block {
    display: flex;
    flex: 1;
    white-space: pre-wrap;
    height: 100%;
}

.console-input {
    background-color: transparent;
    outline: none;
    display: flex;
    flex: 1;
    resize: none;
    height: 100%;
    white-space: pre-wrap;
}

.console-close {
    cursor: pointer;
}

.console-title {
    flex-grow: 1;
    color: white;
    font-family: 'ubuntu-mono','Consolas',monospace !important;
}